* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Slabo 27px", serif;
}

.total {
  width: 100%;
  height: 100vh;
  background-color: #00a3fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftbottom h1 {
  text-align: center;
  font-size: 2rem;
  color: #00a3fe;
  text-shadow: 2px 2px 2px black;
}
.main {
  border-radius: 50px;
  box-shadow: 8px 8px 30px rgb(24, 24, 24);
  width: 80%;
  height: 90%;
  background-color: white;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 30%;
  border-right: 18px solid #00a3fe;

  height: 100%;
  display: flex;
  flex-direction: column;
}
.right {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 80%;

  height: 100%;
}
.lefttop {
  width: 100%;
  height: 50%;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.leftbottom {
  width: 100%;
  height: 50%;
}
.righttop {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.righttop h1 {
  font-size: 3rem;
  text-align: center;
  color: #00a3fe;
  text-shadow: 2px 2px 2px black;
}
.rigthbottom {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.rigthbottom {
  display: flex;
  justify-content: start;
  align-items: center;
}
.from {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfrom {
  width: 100%;
  padding: 11px;

  font-size: 1rem;
}
.gender {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  font-size: 1.2rem;
  text-align: center;
}
label {
  margin: 10px 0px 0px 0px;
  display: inline-block;
}
#city {
  display: flex;
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
  padding: 6px;
}
select {
  outline: none;
}
.botton1 {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn2 {
  font-size: 1.2rem;
  outline: none;
  border-radius: 20px;
  outline: none;
  background-color: #00a3fe;
  color: white;
  width: 30%;
  height: 35%;
  padding: 10px;

  border: none;
  border: #00a3fe 2px solid;
}
option:hover {
  background-color: #00a3fe;
}
#btn2:hover {
  outline: none;
  border-radius: 20px;
  outline: none;
  color: #00a3fe;
  width: 30%;
  height: 35%;
  padding: 10px;
  background-color: white;
  transition: 0.5s;
}
form {
  width: 100%;
  height: 100%;
}
.category {
  height: 10%;
  width: 20%;
}
.category1 {
  height: 10%;
  width: 28%;
}
.category2 {
  width: 25%;
  height: 30%;
}
select {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.inneritem {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
}
.date {
  text-align: center;
  display: block;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 970px) {
  select {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    padding: 10px;
  }
  .date {
    font-size: 0.9rem;
  }
  .inputfrom {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 810px) {
  .main {
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0px;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .leftbottom h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #00a3fe;
    text-shadow: 2px 2px 2px black;
  }
}

@media only screen and (max-width: 690px) {
  .main {
    border: none;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
  }
  .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }

  .left {
    margin-top: 100%;
    width: 100%;
    height: 40%;
    border: none;
  }
  .leftbottom h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #00a3fe;
    text-shadow: 2px 2px 2px black;
  }
  .righttop h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftbottom {
    width: 100%;
    height: 80%;
  }
  .righttop {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rigthbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .from {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rigthbottom {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inneritem {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  .inputfrom {
    width: 500%;
  }
  select {
    width: 500%;
  }
  #dualfuel {
    width: 358%;
  }
  #carproblem {
    width: 358%;
  }
  #ServiceTakeTimeCount {
    width: 358%;
  }
  #enginetype {
    width: 358%;
  }
  .date {
    width: 400%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .botton1 {
    margin-top: 10%;
    margin-bottom: 10%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #btn2 {
    font-size: 1.2rem;
    outline: none;
    border-radius: 20px;
    outline: none;
    background-color: #00a3fe;
    color: white;
    width: 100%;
    height: 35%;
    padding: 8px;

    border: none;
    border: #00a3fe 2px solid;
  }
  option:hover {
    background-color: #00a3fe;
  }
  #btn2:hover {
    outline: none;
    border-radius: 20px;
    outline: none;
    color: #00a3fe;
    width: 100%;
    height: 35%;
    padding: 8px;
    background-color: white;
    transition: 0.5s;
  }
  label{
    width: 350%;
  }
}
