* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Slabo 27px", serif;
}

.total {
  width: 100%;
  height: 100vh;
  background-color: #00a3fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftbottom h1 {
  text-align: center;
  font-size: 2rem;
  color: #00a3fe;
  text-shadow: 2px 2px 2px black;
}
.main {
  border-radius: 50px;
  box-shadow: 8px 8px 30px rgb(24, 24, 24);
  width: 80%;
  height: 90%;
  background-color: white;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 30%;
  border-right: 18px solid #00a3fe;

  height: 100%;
  display: flex;
  flex-direction: column;
}
.right {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 80%;

  height: 100%;
}
.lefttop {
  width: 100%;
  height: 50%;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.leftbottom {
  width: 100%;
  height: 50%;
}
.righttop {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.righttop h1 {
  font-size: 3rem;
  text-align: center;
  color: #00a3fe;
  text-shadow: 2px 2px 2px black;
}
.rigthbottom {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.rigthbottom {
  display: flex;
  justify-content: start;
  align-items: center;
}
.from {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfrom {
  width: 100%;
  padding: 11px;

  font-size: 1rem;
}
.gender {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  font-size: 1.2rem;
  text-align: center;
}
label {
  margin: 10px 0px 0px 0px;
  display: inline-block;
}
#city {
  display: flex;
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
  padding: 6px;
}
select {
  outline: none;
}
.botton1 {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn2 {
  font-size: 1.2rem;
  outline: none;
  border-radius: 20px;
  outline: none;
  background-color: #00a3fe;
  color: white;
  width: 30%;
  height: 35%;
  padding: 10px;

  border: none;
  border: #00a3fe 2px solid;
}
option:hover{
    background-color: #00a3fe;
}
#btn2:hover {
  outline: none;
  border-radius: 20px;
  outline: none;
  color: #00a3fe;
  width: 30%;
  height: 35%;
  padding: 10px;
  background-color: white;
  transition: 0.5s;
}
form {
  width: 100%;
  height: 100%;
}
.category {
  height: 10%;
  width: 20%;
}
.category1 {
  height: 10%;
  width: 28%;
}
.category2 {
  width: 25%;
  height: 30%;
}
select {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.inneritem {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
}
.date {
  text-align: center;
  display: block;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
}
